/* 송희 추가 */
.tag-h6 {
  display: inline;
}

/* #map {
  width: 100%;
  height: 400px;
} */

/* 영화 추가 */

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.details-mnt-information {
  width: 100%;
  /* height: 400px; */
  margin-top: 80px;
  /* border: 2px solid red; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.mntCol-lg-6 {
  width: 50%;

  margin-left: 50px;
  margin-top: 20px;
}

.mntCol-lg-6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mntText-lg-6 {
  width: 37%;
  /* height: 350px; */
  margin-left: 0;
  margin-top: 40px;
}

.map-container {
  /* border: 2px solid hotpink; */
  height: 200px;
  width: 190px;
  margin-left: 300px;
}

.map-container p {
  margin-top: 100px;
  font-weight: 500;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 30px;

  margin-left: 240px;
  width: 400px;
}

.map-btn {
  margin-left: 560px;
  margin-top: -120px;
}

.sixth.col {
  text-align: center;
  background-color: #00bf93;
  height: 100px;
}

.details-Line {
  border: 1px solid gray;
}

.map-title-details {
  margin-top: 8%;
  margin-left: 17%;
}
.tag-h6 {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 80px;
  width: 200px;
  height: 100px;
}

.map-imagebox {
  width: 800px;
  margin-left: 220px;
  margin-top: 4%;
  border: 2px solid rgb(2, 2, 2);
  height: 420px;
}

.details-Line2 {
  border: 1px solid gray;
  margin-top: 90px;
}

.detailsPlace-title {
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 25px;
  width: 100%;
  margin-left: 80px;
  margin-top: 150px;
}

/* 맨마지막 관련추천장소 박스 */
.detailsPlace-mother {
  background-color: white;
  margin-top: 50px;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.card {
  margin-top: 40px;
  margin-left: 20px;
}

.View_info_box_course_right__Eqk9V {
  display: flex;
  align-items: center;

  margin-top: -70px;
  margin-left: auto;
  width: 300px;
}

.View_info_box_course_right__Eqk9V p {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
  background-size: cover;
  background-position: 0;
  background-repeat: no-repeat;
  color: grey;
}

.full-color {
  width: 100%;
  background-color: #07742f;
  height: 200px;
  margin-bottom: 100px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.full-color {
  margin: 0;
}

/* .full-color {
  width: 100% !important;
  height: 200px !important;
  margin-bottom: 100px;
  background-color: aqua !important;
} */
/* .check-map {
  background-color: #00bf93;
  background-size: 100vw;
} */

.check-map h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.check-map h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
}
.check-map h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #333;
}

.check-map p {
  color: #8f8f8f;
  margin-top: 20px;
}

.detail_info h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 150px;
}
.detail_info h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
  margin-top: 150px;
}
.detail_info h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #333;
}

.detail_info p {
  color: #8f8f8f;
  margin-top: 20px;
}

/* 포레스트 로드 가운드 애니메이션 글자 */

h1.sixth {
  position: relative;
  color: white;

  margin-top: 15%;
  margin-bottom: 5%;
}

h1.sixth:before,
h1.sixth:after {
  content: "[";
  display: inline-block;
  position: relative;
  top: 1px;
  height: 100%;
  font-size: 1.25em;
  color: tomato;
  margin: 7px;

  transition: all 0.5s ease;
}

h1.sixth:after {
  content: "]";
}

h1.sixth:hover:before {
  transform: translateX(-5px);
}

h1.sixth:hover:after {
  transform: translateX(5px);
}

/* .greenBox {
  background-color: #00bf93;
  width: 100%;
  height: 200px;
} */

/*  태블릿 반응형*/

@media (max-width: 1198px) {
  .mntText-lg-6 {
    width: 90%;

    margin-left: 10%;
    margin-top: 2%;
  }

  .mntCol-lg-6 {
    width: 80%;

    margin-top: 0;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .details-mnt-information {
    margin-left: 20px;
    width: 90%;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .mntCol-lg-6 {
    width: 80%;

    margin-top: 0;
    margin: 0 auto;
  }

  .mntCol-lg-6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mntText-lg-6 {
    width: 500px;
    height: 350px;
    margin-left: 10%;
    margin-top: 2%;
  }

  .detailsInner {
    margin: 0 auto;
  }

  .View_info_box_course_right__Eqk9V {
    margin: 0 auto;
    height: 100px;

    margin-top: 140px;
  }

  .View_info_box_course_right__Eqk9V p {
  }

  .sixth.col {
    text-align: center;
  }

  .map-title-details {
    margin-top: 10%;
    margin-left: 1%;
  }
  .map-imagebox {
    margin: 0;
    margin-top: 40px;
    width: 80%;
    border: 2px solid rgb(2, 2, 2);
  }
}
@media (max-width: 768px) {
  .View_info_box_course_right__Eqk9V {
    margin: 0;
    height: 50px;

    margin-top: 0px;
  }

  .View_info_box_course_right__Eqk9V p {
    height: auto;
  }

  .mntText-lg-6 {
    width: 85%;
    height: 350px;
    margin-left: 10%;
    margin-top: 3%;
  }
}
@media (max-width: 576px) {
  .mntCol-lg-6 {
    width: 200px;

    margin-top: 0;
    margin: 0 auto;
  }

  .mntCol-lg-6 {
    width: 80%;

    margin-top: 0;
    margin: 0 auto;
  }
}
