body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* 전체 바디에 가로 스크롤 방지 */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.main-search-area {
    position: relative;
    width: 55%;
    margin: 0 auto 20px;
}

.main-search-area input {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s;
}

.main-search-area input:focus {
    border: 1.5px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-search-area button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #ccc;
}

.main-mountain-list-section {
    text-align: center;
    max-width: 100%;
    overflow: hidden;
}

.main-mountain-list-section h3 {
    font-size: 24px;
    margin: 160px 0 30px 0;
}

.main-mountain-list {
    display: flex;
    overflow: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

.swiper {
    width: 100%;
    height: auto;
    margin: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.swiper-slide img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

.swiper-slide span {
    font-size: 14px;
}

.main-banner-area {
    width: 100%;
    height: 100px;
    margin-top: 80px;
    background-color: #00bf93;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner-text {
    margin-top: 20px;
}

.main-banner-text i {
    font-size: 1em;
    font-style: normal;
}

.main-banner-text h5 {
    color: white;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    margin: 0;
}

.main-banner-text p {
    margin-top: 5px;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

.main-banner-area a {
    text-decoration: none;
    margin-left: 10px;
}

.difficulty-very-difficult {
    color: red;
    font-weight: 700;
}

.difficulty-difficult {
    color: red;
}

.difficulty-moderate {
    color: orange;
}

.difficulty-easy {
    color: rgb(8, 157, 8);
}

.trail-recommendation-section {
    padding: 80px 0 0 0;
    background-color: rgba(255, 255, 255, 1);
    max-width: 100%;
    margin: 0 auto;
}

.trail-recommendation-section h3 {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.trail-recommendation-section p {
    margin: 5px 0 23px 0;
    text-align: center;
}

.trail-recommendation-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.trail-recommendation-list {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    border-radius: 10px;
    justify-content: space-between;
    max-width: 80%;
    overflow: hidden;
}

.trail-recommendation-list button {
    font-size: 15px;
    width: 30vw;
    padding: 10px 20px;
    margin: 7px;
    cursor: pointer;
    border: 0.1px solid rgb(203, 201, 201);
    border-radius: 5px;
    background-color: transparent;
    box-shadow: none;
    transition: border-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

.trail-recommendation-list button.active {
    border: 2px solid black;
    color: #000;
}

.trail-recommendation-details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    border-radius: 10px;
    padding-top: 5px;
}

.trail-recommendation-list i {
    font-size: 16px;
    font-style: inherit;
}

.course-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 0 1px gray;
    flex-grow: 1;
    box-sizing: border-box;
}

.course-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.course-details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.detail-item {
    padding: 7px;
    display: flex;
    align-items: center;
}

.main-theme-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

.main-theme-courses h3 {
    font-size: 24px;
    margin: 70px 0 0 0;
}

.main-theme-courses p {
    margin: 5px 0 30px 0;
    text-align: center;
}

.main-theme-course-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    justify-content: center;
    width: 100%;
    /* 수정 */
}

.main-theme-course-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    width: 100%;
    /* 수정 */
    height: 150px;
}

.main-theme-course-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.theme-course-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    cursor: pointer;
}

.theme-course-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
}

.theme-course-subtitle {
    font-size: 15px;
    margin-bottom: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-sizing: border-box;
}

.modal-body {
    padding: 20px;
    overflow-y: auto;
    max-height: 70vh;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-description {
    font-size: 17px;
    color: gray;
    margin: 10px 0 20px 0;
}

.modal-courses {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-course-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.modal-course-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.modal-course-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-course-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.modal-course-description {
    font-size: 16px;
}

.modal-transport {
    font-size: 14px;
    margin-top: 20px;
}

.modal-transport div {
    margin-bottom: 3px;
}

.transport-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .main-search-area {
        width: 100%;
    }

    .trail-recommendation-container {
        flex-direction: column;
        align-items: center;
    }

    .trail-recommendation-list {
        margin-right: 0;
        margin-bottom: 20px;
        width: 80%;
        padding-right: 10px;
    }

    .trail-recommendation-list button {
        width: 100%;
    }

    .trail-recommendation-details {
        width: 80%;
    }

    .main-theme-course-grid {
        grid-template-columns: 1fr;
    }

    .main-theme-course-item {
        width: 100%;
    }

    .modal-content {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .main-mountain-list-section h3 {
        margin: 100px 0 30px 0;
    }

    .swiper-slide {
        width: 80%;
        margin: 10px auto;
    }

    .main-theme-courses h3 {
        font-size: 20px;
    }

    .main-banner-area {
        height: auto;
        padding: 20px;
    }

    .main-banner-text h5 {
        font-size: 18px;
    }

    .main-banner-text p {
        font-size: 14px;
    }
}

/* 웹폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}